
:root {
  --black-a: #010101;
  --black-b: #121214;
  --black-c:  #0c0c0c;
  
  --white: #e5e5e5
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: var(--black-b);
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
  resize: none;
}

.App {
  font-size: 14px;
  margin-top: 6rem;
  padding:  0 .5rem 0 .5rem;
}

.command {
  margin: 0 auto 0 auto;
  max-width: 700px;
  min-width: 330px;
  background: var(--black-a);
}

.command__header {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.command__box {
  background: var(--black-c);
}

.command__text {
  background: transparent;
  padding-top: .5rem;
  width: 100%;
  color: var(--white);
}